# Survey Results
4 responses
- **Mode of communication**: Unanimously Email
- **Programming proficiency & after-lesson commitment**: very diverse answers
- **Preferred Learning styles**: Demonstration & Collaboration
- **Interests**:

    ![results](imgs/activities_res.jpg)
    
    .. a data analysis website?

# Basics Overview continues..
- **Aggregate Types**
    - lists (sequence of items)
    - tuples (immutable lists)
    - dictionaries (key-value pairs)
- **Flow Control**
    - if.. elif.. else.. (Conditionals)
    - for i in seq  (For Loop)
    - while i > 0  (While Loop)
- **Functions**
    - def myfunc(a, b, c=0)
- **Classes**
    - class MyClass

## **Lists**
editable (mutable) sequence of items

In [15]:
my_wierd_list = ['Jim', 3, False, [1,2]]  # each element can be a different type

my_list = ['John', 'Paul', 'George', 'Ringo']  # most common is all the same type

In [2]:
# get first item
my_list[0]

'John'

In [3]:
#get last item
my_list[-1]

'Ringo'

In [ ]:
# get second item?
...

In [ ]:
# get second-to-last item?
...

### *List slicing*
also used for **arrays**, **matrices** and **strings**

LIST[start:end:step]

![slicing](imgs/list_slice.jpg)

In [54]:
# taking first two
my_list[:2]

['John', 'Paul']

In [5]:
# taking last two
my_list[-2:]

['George', 'Ringo']

In [ ]:
# taking middle two?
...

In [10]:
# taking one every two
my_list[::2]

['John', 'George']

In [ ]:
# reversing the order?
...

In [16]:
# sorting a list
sorted(my_list)

['George', 'John', 'Paul', 'Ringo']

In [18]:
# changing one value
print('before: ', my_list)
my_list[2] = 'THE George'
print('after: ', my_list)

before:  ['John', 'Paul', 'THE George', 'Ringo']
after:  ['John', 'Paul', 'THE George', 'Ringo']

In [57]:
# adding elements to a list
my_list.append('Pete')

my_list

['John', 'Paul', 'THE George', 'Ringo', 42, 'Pete']

In [58]:
# checking if element in list
'Pete' in my_list

True

## **Tuples** (very briefly)
basically lists that cannot be edited (immutable)

In [20]:
my_tuple = ('John', 'Paul', 'George', 'Ringo')  # most common is all the same type

sorted(my_tuple[-2:])

['George', 'Ringo']

In [21]:
my_tuple.append(42)  # won't work

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
my_tuple[2] = 'THE George'  # won't work

TypeError: 'tuple' object does not support item assignment

## **Dictionaries**
Collection of key-value pairs

In [34]:
the_beatles_instruments = {
    'John': ['vocals', 'rhythm and lead guitar', 'keyboards', 'harmonica', 'bass guitar'],
    'Paul':  ['vocals', 'bass guitar', 'rhythm and lead guitar', 'keyboards', 'drums'],
    'George': ['lead and rhythm guitar', 'vocals', 'sitar', 'keyboards', 'bass guitar'],
    'Ringo': ['drums', 'percussion', 'vocals'],
} 

the_beatles_tenure = {
    'John': {'start': 1960, 'end': 1969},
    'Paul':  [1960, 1970],
    'George': (1960, 1970),
    'Ringo': '1962–1970',
}

In [35]:
# accessing a value
the_beatles_instruments['Paul']

['vocals', 'bass guitar', 'rhythm and lead guitar', 'keyboards', 'drums']

In [ ]:
# starting year of John?
...

In [37]:
# adding a new value
the_beatles_instruments['Pete'] = ['drums']

print(the_beatles_instruments)

{'John': ['vocals', 'rhythm and lead guitar', 'keyboards', 'harmonica', 'bass guitar'], 'Paul': ['vocals', 'bass guitar', 'rhythm and lead guitar', 'keyboards', 'drums'], 'George': ['lead and rhythm guitar', 'vocals', 'sitar', 'keyboards', 'bass guitar'], 'Ringo': ['drums', 'percussion', 'vocals'], 'Pete': ['drums']}

In [42]:
# getting all keys
the_beatles_tenure.keys()

dict_keys(['John', 'Paul', 'George', 'Ringo'])

In [39]:
# getting all values
the_beatles_tenure.values()

dict_values([{'start': 1960, 'end': 1969}, [1960, 1970], (1960, 1970), '1962–1970'])

In [40]:
# getting all keys-values as pairs
the_beatles_tenure.items()

dict_items([('John', {'start': 1960, 'end': 1969}), ('Paul', [1960, 1970]), ('George', (1960, 1970)), ('Ringo', '1962–1970')])

## **If Statement**
diverting the execution flow depending on 1+ condition

In [46]:
weather = 'cloudy'
windy = False

In [50]:
if weather == 'sunny':
    umbrella = False
    
elif weather == 'cloudy':
    if windy == False:
        umbrella = False
    else:
        umbrella = True
        
else:
    umbrella = True
    
print("I should take the umbrella: ", umbrella)

I should take the umbrella:  False

In [ ]:
# what result do I expect with.. ? 
weather = 'sunny'
windy = True

In [ ]:
# what result do I expect with.. ? 
weather = 'raining'
windy = True

## **For Loop**
runs a part of the code multiple times: one for every item in the sequence

In [ ]:
for i in range(5):
    print(i)

In [52]:
for member, member_instruments in the_beatles_instruments.items():
    for instrument in member_instruments:
        print(member, 'plays', instrument)

John plays vocals
John plays rhythm and lead guitar
John plays keyboards
John plays harmonica
John plays bass guitar
Paul plays vocals
Paul plays bass guitar
Paul plays rhythm and lead guitar
Paul plays keyboards
Paul plays drums
George plays lead and rhythm guitar
George plays vocals
George plays sitar
George plays keyboards
George plays bass guitar
Ringo plays drums
Ringo plays percussion
Ringo plays vocals
Pete plays drums

## **While Loop**
runs a part of the code multiple times: until a condition is met

In [60]:
current_value = 1
while current_value <= 5:
    print(current_value)
    current_value += 1

1
2
3
4
5

## Function